body {
    background-image: url("images/stars.jpg");
    background-size: cover;
    color: white;
}
.menu {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    padding: 0px 10px;
    border-radius: 10px;
    justify-content: space-around;
    background-color: rgba(24, 26, 24, 0.4);
    color: var(--bg-text-clr);
    z-index: 3;
}
.menu ul{
    display: flex;
    align-items: center;
    list-style-type: none;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    padding:50px;
    color: var(--bg-text-clr);
}

.menu ul li a:hover{
    background-color: var(--bg-text-clr);
    color: #1a1a1a;
    border-radius: 7px;
}
