body {
    color: white;
}
header {
    background-color: rgb(255,255,255);
    color: black;
}

footer{
    background-color: rgb(255, 255, 255);
    color: black;
}

.page-contact .information {
    background: rgba(255, 255, 255, 0.75);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}
.information .agence {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    color:black;
}
.information {
    background: rgba(255, 255, 255, 255.75);
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
    color:black;
}

.avis-item {
    background: rgba(255, 255, 255, 0.75);
    color: black;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.2);
}
