/* code generique à chaque page du site*/
/*test*/
/* le fond du site, la police et sa couleur */

/*police*/
@font-face {
    font-family: "Jersey 25";
    src: url("Jersey_25/Jersey25-Regular.ttf") format("truetype");
}

body {
    color: white;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    width: 100%; /* S'assurer que le body occupe tout l'écran */
    height: 100vh; /* S'assurer que le body occupe toute la hauteur de l'écran */

    background-size: cover; /* Adapte l'image pour couvrir toute la zone */
    background-position: center; /* Centre l'image */
    background-repeat: repeat; /* Pas de répétition */
    background-attachment: fixed; /* Fixe l'image pour qu'elle ne défile pas */
}

/* Paysage : largeur > hauteur */
@media (min-aspect-ratio: 1/1) {
    body {
        background-image: url("img/fond_espace_paysage.jpg");
    }
}

/* Portrait : hauteur > largeur */
@media (max-aspect-ratio: 1/1) {
    body {
        background-image: url("img/fond_espace_portrait.jpg");  
    }
}


/* Bandeau en haut (header) */
@media (min-width: 600px){
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 80px;
        color: white;
        position: fixed;
        top: 0;
        opacity: 0.75;
    }


    .header ul{
        display: flex;
        align-items: center;
        list-style: none; /* Supprime les puces */
        margin: 0;
        padding: 0;
        height: 80px;
    }

    .void{
        width: 100%;
    }

    .logo {
        height: 80px; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        margin-left: 3vw;
    }

    .bouton_contact{
        height: 40px; /* Taille du logo */
        width: auto; /* Conserve les proportions */
    }

    .bouton_destinations{
        height: 40px; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        padding: 5%;
        margin-right: 3vw;
    }

}

@media (max-width: 599px){
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 14vw;
        color: white;
        position: fixed;
        top: 0;
        opacity: 0.75;
    }
    
    
    .header ul{
        display: flex;
        align-items: center;
        list-style: none; /* Supprime les puces */
        margin: 0;
        padding: 0;
        height: 14vw;
    }
    
    .void{
        width: 100%;
    }
    
    .logo {
        height: 14vw; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        margin-left: 2vh;
    }
    
    .bouton_contact{
        height: 8vw; /* Taille du logo */
        width: auto; /* Conserve les proportions */
    }
    
    .bouton_destinations{
        height: 8vw; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        padding: 5%;
        margin-right: 3vw;
    }

}


/* bandeau en bas (footer)*/
@media (min-width: 600px){
    footer{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 80px;
        color: white;
        align-items: center;
        position: fixed;
        bottom: 0;
        opacity: 0.75;
    }
    .footer ul {
        display: flex; /* Met les <li> sur une ligne */
        list-style: none; /* Supprime les puces de la liste */
        margin: 0; /* Supprime les marges par défaut */
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
    .footer li {
        margin-right: 20px; /* Réduit l'espacement entre les icônes */
    } 
    .footer h3{
        margin: 0;
        height: auto;

    }
    .footer img {
        width: 40px; /* Ajuste la taille des icônes */
        height: auto; /* Conserve le ratio de l'image */
    }
}

@media (max-width: 599px){
    footer{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 12vw;
        color: white;
        align-items: center;
        position: fixed;
        bottom: 0;
        opacity: 0.75;
    }
    .footer ul {
        display: flex; /* Met les <li> sur une ligne */
        list-style: none; /* Supprime les puces de la liste */
        margin: 0; /* Supprime les marges par défaut */
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
    .footer li {
        margin: 0 10px; /* Réduit l'espacement entre les icônes */
    } 
    .footer h3{
        display: none;

    }
    .footer img {
        width: 6vw; /* Ajuste la taille des icônes */
        height: auto; /* Conserve le ratio de l'image */
    }
}

/* page destinations */


@media (min-width: 800px){
    .destinations_centre{
        padding-top: 15vh;
        text-align: center;
        font-size: 2.5vh;
    }

    .dest_choix_destination{
        display: flex;
        justify-content: center;
        margin-top: 10vh;
        padding-left: 0;
    }

    .dest_choix_destination li{
        font-size: 1.4vw;
        padding: 0 10vw;
        }

    .dest_choix_destination img{
        height: 20vw;
        width: auto;
    }
}

@media (max-width: 799px){
    .destinations_centre{
        padding-top: 10vh;
        padding-left: 5vw;
        font-size: 1.5vh;
    }

    .dest_choix_destination{
        margin-top: 10vh;
        padding-left: 0;
    }

    .dest_choix_destination li{
        font-size: 1.5vh;
        margin-bottom: 10vh;
    }

    .dest_choix_destination img{
        height: 20vh;
        width: auto;
    }
}

.dest_choix_destination{
    text-align: center;
    list-style: none;
}


.dest_choix_destination h2{
    margin-top: 1vh;
}



/* Page dest_syst_sol*/ 

@media (max-width: 999px){

    .soleil_horizontal{
        display: flex;
        justify-content: center;
    }

    .soleil_horizontal img{
        width: 100%;
        height: auto;
    }
    
    .soleil_vertical{
        display: none;
    }

    .dest_syst{
        list-style: none;
        padding: 8vh 0;
        margin: 0;
        
    }
    
    .planets:hover {
        transform: scale(1.1);
        z-index: 1;
    }

    .dest_syst_planetes{
        display: flex;
        margin-top: 4vh;
        justify-content: center;
    }
    
    .dest_syst_planetes img{
        height: 40vw;
        width: auto;
    }

    .dest_syst_planetes h3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
        font-size: 3vh;
    }
}


@media (min-width: 1000px){
    

    .soleil_vertical{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .soleil_vertical img{
        width: 12vw;
    }
    
    .soleil_horizontal{
        display: none;
    }

    .dest_syst{
        display: flex;
        align-items: center;
        height: calc(100% - 80px);
        margin: 0;
        list-style: none;
        padding: 0;
    }

    .planets:hover {
        transform: scale(1.1);
        z-index: 1;
    }
    
    .dest_syst_planetes img{
        height: 40vh;
        width: auto;
    }

    
    .dest_syst_planetes h3{
        display: flex;
        justify-content: center;
    }

    .dest_syst_planetes{
        padding: 0 2vw;
    }



}




/* Page dest_star_wars*/ 

@media (max-width: 999px){

    .dest_sw{
        list-style: none;
        padding: 8vh 0;
        margin-top: 0;
    }

    .dest_sw li{
        display: flex;
        margin-top: 4vh;
        justify-content: center;
    }

    .dest_sw img{
        height: 40vw;
        width: auto;
    }
    
    
    .dest_sw h3{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 5vw;
        font-size: 3vh;
    }

    .planets:hover {
        transform: scale(1.1);
        z-index: 1;
    }
}

@media (min-width: 1000px){
    .dest_sw{
        list-style: none;
        padding: 0;
        margin-top: 0;
        display: flex;
        align-items: center;
        height: calc(100% - 80px);
        margin: 0;
        overflow-x: scroll;
        scrollbar-width: thin;
    }

    .dest_sw img{
        height: 40vh;
        width: auto;
    }
    
    .dest_sw h3{
        display: flex;
        justify-content: center;
        font-size: 3vh;
    }

    .dest_sw li{
        padding: 0 4vh;
    }
    
    .planets:hover {
        transform: scale(1.1);
        z-index: 1;
    }
}


/* Page Lune*/ 
@media (min-width: 600px){
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: relative;
    }
    .planet {
        display: block;
        width: 20vw; /* Ajustez la largeur selon vos besoins */
        margin-left: -50px; /* Ajustez la valeur pour le chevauchement */
        transition: transform 0.3s ease;
    }
    .planet:hover {
        transform: scale(1.1);
        z-index: 1;
    }
    .planet img {
        width: 100%;
        border-radius: 50%;
    }
    .planet:first-child {
        margin-left: 0; /* Pas de marge négative pour le premier élément */
    }
    .titre{
        margin-top: 10vh;
        font-size:2vw;
    }
}

@media (max-width: 599px){
    nav {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        position: relative;
    }
    .planet {
        display: block;
        width: 20vw; /* Ajustez la largeur selon vos besoins */
        margin-left: -20px; /* Ajustez la valeur pour le chevauchement */
        transition: transform 0.3s ease;
    }
    .planet:hover {
        transform: scale(1.1);
        z-index: 1;
    }
    .planet img {
        width: 100%;
        border-radius: 50%;
    }
    .planet:first-child {
        margin-left: 0; /* Pas de marge négative pour le premier élément */
    }
    .titre{
        margin-top: 10vh;
        font-size: 3vw;
    }
}

@media (min-width: 600px){
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
        margin-top: 2vh;
    }

    .left-column, .center-column, .right-column {
        padding: 20px;
        border-radius: 10px;
        margin: 0 10px;
    }

    .left-column {
        flex: 1;
    }

    .center-column {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .right-column {
        flex: 1.5;
    }

    .grand_titre {
        font-size: 2vw;
        margin-bottom: 10px;
    }

    .sous_titre {
        font-size: 1vw;
        margin-top: 0;
    }

    .descriptif {
        margin: 10px 0;
        font-size: 1vw;
    }

    .liste {
        list-style-type: disc;
        padding-left: 20px;
        font-size: 1vw;
    }

    .button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 30px;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;

    }

    .button:hover {
        background-color: #ddd;
    }

    .moon-image img {
        width: 40vw;
        height: auto;
        border-radius: 50%;
    }
}

@media (max-width: 599px){
    .container {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 50px;
        flex-wrap: wrap; /* Allow flex items to wrap on small screens */
    }
    
    .left-column, .center-column, .right-column {
        padding: 20px;
        border-radius: 10px;
        margin: 10px;
        flex: 1 1 100%; /* Default to full width */
    }
    
    .center-column .moon-image img {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    .grand_titre {
        font-size: 36px;
        margin-bottom: 10px;
    }
    
    .sous_titre {
        font-size: 20px;
        margin-top: 0;
    }
    
    .descriptif {
        margin: 10px 0;
    }
    
    .liste {
        list-style-type: disc;
        padding-left: 20px;
    }
    
    .button {
        display: inline-block;
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 14px;
        color: #000;
        background-color: #fff;
        border: none;
        border-radius: 5px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    .button:hover {
        background-color: #ddd;
    }
    
}

/* Les mofifications CSS sont à rajouter a partir d'ici,
Veuillez regroupez les commandes CSS par page et la commenter.
Il faudrait également rajouter le nom de la page avant chaque nom de class pour éviter que deux commandes avec le mêmes noms s'executent.
Encore sur le nom des class et des pages. Il ne nous est pas demandé de developper en anglais donc on reste en francais pour éviter des erreurs betes.*/

/*Implémentation de la page index.html dans le css et adaptation aux media queries*/

/*Implémentation de la page moon.html sans les videos et adaptation aux media queries*/
