/* code generique à chaque page du site*/

/* le fond du site, la police et sa couleur */
body {
    color: white;
    font-family: "Jersey 25", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    width: 100%; /* S'assurer que le body occupe tout l'écran */
    height: 100vh; /* S'assurer que le body occupe toute la hauteur de l'écran */

    background-size: cover; /* Adapte l'image pour couvrir toute la zone */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Pas de répétition */
}

/* Paysage : largeur > hauteur */
@media (min-aspect-ratio: 1/1) {
    body {
        background-image: url("img/fond_espace_paysage.jpg");
    }
}

/* Portrait : hauteur > largeur */
@media (max-aspect-ratio: 1/1) {
    body {
        background-image: url("img/fond_espace_portrait.jpg");  
    }
}


/* Bandeau en haut (header) */
@media (min-width: 600px){
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 80px;
        color: white;
        position: fixed;
        top: 0;
        opacity: 0.75;
    }


    .header ul{
        display: flex;
        align-items: center;
        list-style: none; /* Supprime les puces */
        margin: 0;
        padding: 0;
        height: 80px;
    }

    .void{
        width: 100%;
    }

    .logo {
        height: 80px; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        margin-left: 3vw;
    }

    .bouton_contact{
        height: 40px; /* Taille du logo */
        width: auto; /* Conserve les proportions */
    }

    .bouton_destinations{
        height: 40px; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        padding: 5%;
        margin-right: 3vw;
    }

}

@media (max-width: 599px){
    header {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 14vw;
        color: white;
        position: fixed;
        top: 0;
        opacity: 0.75;
    }
    
    
    .header ul{
        display: flex;
        align-items: center;
        list-style: none; /* Supprime les puces */
        margin: 0;
        padding: 0;
        height: 14vw;
    }
    
    .void{
        width: 100%;
    }
    
    .logo {
        height: 14vw; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        margin-left: 2vh;
    }
    
    .bouton_contact{
        height: 8vw; /* Taille du logo */
        width: auto; /* Conserve les proportions */
    }
    
    .bouton_destinations{
        height: 8vw; /* Taille du logo */
        width: auto; /* Conserve les proportions */
        padding: 5%;
        margin-right: 3vw;
    }

}


/* bandeau en bas (footer)*/
@media (min-width: 600px){
    footer{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 80px;
        color: white;
        align-items: center;
        position: fixed;
        bottom: 0;
        opacity: 0.75;
    }
    .footer ul {
        display: flex; /* Met les <li> sur une ligne */
        list-style: none; /* Supprime les puces de la liste */
        margin: 0; /* Supprime les marges par défaut */
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
    .footer li {
        margin-right: 20px; /* Réduit l'espacement entre les icônes */
    } 
    .footer h3{
        margin: 0;
        width: 15vh;
        height: auto;

    }
    .footer img {
        width: 40px; /* Ajuste la taille des icônes */
        height: auto; /* Conserve le ratio de l'image */
    }
}

@media (max-width: 599px){
    footer{
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: 12vw;
        color: white;
        align-items: center;
        position: fixed;
        bottom: 0;
        opacity: 0.75;
    }
    .footer ul {
        display: flex; /* Met les <li> sur une ligne */
        list-style: none; /* Supprime les puces de la liste */
        margin: 0; /* Supprime les marges par défaut */
        align-items: center;
        justify-content: flex-end;
        height: 100%;
    }
    .footer li {
        margin: 0 10px; /* Réduit l'espacement entre les icônes */
    } 
    .footer h3{
        display: none;

    }
    .footer img {
        width: 2em; /* Ajuste la taille des icônes */
        height: auto; /* Conserve le ratio de l'image */
    }
}

/* Les mofifications CSS sont à rajouter a partir d'ici,
Veuillez regroupez les commandes CSS par paga et la commenter.
Il faudrait également rajouter le nom de la page avant chaque non de class pour éviter que deux commandes avec le mêmes noms s'executent.
Encore sur le nom des class et des pages. Il ne nous est pas demandé de developper en anglais donc on rest en francais pour éviter des erreurs betes.*/
